body {
	background-color: #fff;
  	padding-top: 50px;
  	font-family: "Arial", sans-serif;
}

hr {
	border: 1px solid #333;
	padding: 0;
}

.content {	
	background-color: #dedede;
	padding-bottom: 80px;
	min-height: 700px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

p {
	font-size: 1.2em;
	line-height: 2em;
	font-weight: thin;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ccc;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ccc;
	background: #555;
}

ul.nav > li:hover, ul.nav > li.active {
	background-color: #444;
}

.navbar-inverse .navbar-header a.navbar-brand {
	color: #ccc;
}

ul.nav {
	text-align: center;
	display: inline-block;
}

a.active {
	background-color: #fff;
}


ul.nav > li {
	display: inline-block;
	vertical-align: middle;
}

a.card-link {
	color: #333;
}
.card {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 24px 12px;
	margin: 12px 0;
	min-height: 300px;
	text-align: center;
	width: 100%;
}

.card > .title {
	display: table;
	width: 100%;
	min-height: 75px;
}

.card > .title > h3 {
	display: table-cell;
	vertical-align: middle;
	margin-top: 0;
	line-height: 32px;
}

td span.note {
	font-size: 0.8em;
	font-style: italic;
}


.panel-container {
	overflow: hidden;
}

.panel.disinfectant-level {
	float: left;
	display: inline-block;
	font-size: 1.3em;
	width: 220px;
}

.panel.disinfectant-capabilities .panel-heading {
	font-size: 1.3em;
}

.panel.disinfectant-capabilities {
	float: left;
	display: inline-block;
	width: 280px;
}

.panel.disinfectant-capabilities ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 6px;
	font-size: 1.2em;
}

.text-red {
	color: #E01010;
} 

.text-green {
	color: #2c5;
}

.table-header {
	font-size: 1.3em;
}

.legend {
	margin: 15px;
	float: right;
}

.legend-cell, .legend-label {
	vertical-align: middle;
	display: inline-block;
}

.legend-cell {
	margin-left: 8px;
	width: 2em;
	height: 2em;
	border: 1px solid black;
}

.legend-label {
	margin-left: 30px;
}

div.disinfectant-summary {
	margin-top: 32px;
	font-size: 1.3em;
}

input[type=checkbox] {
	-ms-transform: scale(2); 
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	margin: 10px;
}

.checkbox-text {
	font-size: 1.2em;
	padding-left: 5px;
}

.question-pane {
	text-align: center;
}

.question-pane ul {
	text-align: left;
	font-size: 1.3em;
}

.question-pane h2 {
	margin-top: 0;
	display: inline-block;
}

.question-list {
	display: inline-block;
}

form {
	text-align: left;
	display: inline-block;
}

select {
	padding: 6px;
	font-size: 1.2em;
	border-radius: 6px;
	min-width: 100px;
}