
      <div class="row">
        <div class="col-xs-12">
          <h1>Links</h1>
          <p>            
            <ul class="links">
              <li>
                <a target="_blank" href="http://www.hc-sc.gc.ca/dhp-mps/prodpharma/applic-demande/guide-ld/disinfect-desinfect/disin_desin-eng.php">
                  Health Canada Guidance Document: Disinfectant Drugs
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.publichealthontario.ca/en/ServicesAndTools/Tools/Pages/Dilution-Calculator.aspx ">
                  PHO Chlorine Dilution Calculator
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.publichealthontario.ca/en/BrowseByTopic/InfectiousDiseases/PIDAC/Pages/PIDAC_Documents.aspx">
                  Best Practices for Cleaning, Disinfection and Sterilization in All Health Care Settings
                </a>
              </li>              
            </ul>
          </p>
        </div>
      </div>    

