<h1>Electrolysis</h1>
<table>
	<tr>
		<td>High</td>
		<td>Intermediate</td>
		<td>Low</td>
	</tr>	
	<tr>
		<td>
			<ul>
				<li>Removable tip/cap (single use or high level disinfection after use)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Any equipment instrument or item used to manipulate a sterile needle</li>
                <li>Containers used to hold sterile packaged equipment or instruments</li>
                <li>Needle, probe holder or permanent attached pin device (after each client if no barrier film/cover is used; daily if barriers are used and changed between clients)</li>
                <li>Tweezers used to expose ingrown hairs</li>
                <li>Epilator cord and control panel that comes in contact with client’s skin or is handled by worker (after each client if no barrier film/cover is used; daily if barriers are used and changed between clients)</li>
                <li>Scissors used to cut hair </li>
                <li>Laser heads, tips and wands</li>
                <li>Rigid containers used to hold dirty equipment until reprocessing (at end of the day)</li>
                <li>Tweezers used to remove hair from the hair follicle</li>
                <li>UV eye goggles for multiple-client use</li>

			</ul>
		</td>
		<td>
			<ul>
				<li>Electrodes and sponge covers</li>
                <li>Epilator foot operating switches and cords</li>
                <li>Laser exterior power switches / touch screen / cables (after each client if no barrier film/cover is used; daily if barriers are used and changed between clients)</li>
                <li>Magnifying glass and arm / reusable magnifying goggles handled by worker</li>
                <li>Scissors used to cut single use wax strips </li>
                <li>Service trays with single use, disposable covers </li>

			</ul>
		</td>
	</tr>
</table>

<h3>Single Use Disposable Items</h3>
<p class="sterile">Items that are RED must be sterile prior to use (packaged sterile or sterilized on-site)</p>
<ul>

	<li>Lancets used to remove ingrown hairs</li>
	<li>personal protective equipment (gloves, masks, gowns, eye protection)</li>
	<li>sterile electrolysis needles</li>
	<li class="sterile">sterile needles and lancets used to remove ingrown hairs</li>
	<li>swabs used to apply skin antiseptic</li>
    
</ul>