<h1>Hair Dressing/Barbering</h1>
<table>
	<tr>
		<td>High</td>
		<td>Intermediate</td>
		<td>Low</td>
	</tr>	
	<tr>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
		</td>
		<td>
			<ul>
                <li>Razor handles and cradles used for skin</li>
                <li>Crochet hooks used for cap highlights</li>
                <li>Hair clippers and scissors</li>
			</ul>
		</td>
		<td>
			<ul>
                <li>Colour mixing bowls (if reusable)</li>
                <li>Combs, brushes</li>
                <li>Disinfectant containers holding instruments</li>
                <li>Hair clipper guards and shaver guards</li>
                <li>Hair rollers</li>
                <li>Handles for hair styling razors</li>
                <li>Service trays, carts</li>
			</ul>
		</td>
	</tr>
</table>

<h3>Single Use Disposable Items</h3>
<p class="sterile">Items that are RED must be sterile prior to use (packaged sterile or sterilized on-site)</p>
<ul>
    <li>Straight razor with fixed blade</li>
    <li>applicator used to apply stypic powder or liquid to stop bleeding</li>
    <li>disposable neck strip or cloth towel</li>
    <li>hair threading or weaving needles</li>
    <li>single use crochet hooks for cap highlights</li>
    <li>single use disposable razor</li>
    <li>scalpel or other blades</li>
    <li>single use gloves</li>
    <li>single use styptic products</li>
</ul>