<h1>Nail Salons</h1>
<table>
	<tr>
		<td>High</td>
		<td>Intermediate</td>
		<td>Low</td>
	</tr>	
	<tr>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Callus blade holders / corn planers</li>
				<li class="sterile">Grater style foot files </li>
				<li>Acrylic tip cutter</li>
				<li>Cuticle scissors, nippers, pushers, scrapers and cutters</li>
				<li>Diamond drill bit for acrylic nails</li>
				<li>Foot files with removable adhesive/abrasive stickers or metal foot files</li>
				<li>Ingrown nail nipper</li>
				<li>Metal, diamond or glass nail files</li>
				<li>Nail cleaner scoops</li>
				<li>Nail clippers, nippers</li>
				<li>Recirculating foot tub or soak basin</li>
				<li>Reusable metal dremel bit</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Dremel handle</li>
				<li>Flip flops</li>
				<li>Slippers for multi-use (laundered between use – cloth slippers not foam)</li>
				<li>Manicure bowls</li>
				<li>Nail drying stations, tables</li>
				<li>Nail product brushes (single use preferred)</li>
				<li>Tweezers for applying nail art</li>
				<li>UV and LED curing light</li>
			</ul>
		</td>
	</tr>
</table>

<h3>Single Use Disposable Items</h3>
<p class="sterile">Items that are RED must be sterile prior to use (packaged sterile or sterilized on-site)</p>
<ul>
    <li>Abrasive pads for removing calluses</li>
	<li>buffing blocks</li>
	<li>foam and wood core nail files</li>
	<li>foam flip flops</li>
	<li>orange or wood sticks</li>
	<li>personal protective equipment (gloves, masks, gowns, eye protection)</li>
	<li>pumice stones</li>
	<li>sterile blades for paring calluses</li>
	<li>toe separators</li>
</ul>