<div class="starter-template">
<h1>Disinfectant Encyclopedia</h1>
<h3 class="lead">For more information about disinfectants, choose a category</h3>
<hr/>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <a class="card-link" href="#/disinfectant-level">
        <div class="card">
            <div class="title">
                <h3>Determine Your Disinfectant Level</h3>
            </div>
            <p>
                Determine the disinfectant level of any cleaning product by answering questions about the label claims.
            </p>
        </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
    <a class="card-link" href="#/definitions">
        <div class="card">
            <div class="title">
                <h3>Disinfectant Definitions</h3>
            </div>
            <p>
            Browse the dictionary of disinfectant terms. Search the most common terms you may find among disinfectant products.
            </p>
        </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
    <a class="card-link" href="#/chlorine">
        <div class="card">
            <div class="title">
            <h3>Chlorine Dilutions</h3>
            </div>
             <p>Chlorine dilution information for various levels of disinfection.</p>
        </div>
    </a>
    </div>
    <div class="col-xs-6 col-sm-3">
    <a class="card-link" href="#/items-surfaces">
        <div class="card">
            <div class="title">
            <h3>Disinfectants for Items and Surfaces</h3>
            </div>
            <p>What levels of disinfectants are required to be used on various items and surfaces, in each type of premise.</p>
        </div>
    </a>
    </div>
</div>
