<div class="row">
  <div class="col-xs-12">
    <h1>Chlorine Dilution and Contact Times</h1>
  </div>
</div>    
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="card disinfectant-level">
      <div class="title high-level">
        <h3>High Level</h3>
      </div>
      <table>
        <tr class="header">
          <td>Dilution</td>
          <td>Contact Time</td>
        </tr>
        <tr>
          <td>1/10<br/>(5000 ppm)</td>
          <td>10 min</td>
        </tr>
        <tr>
          <td>1/50<br/>(1000 ppm)</td>
          <td>20 min</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card disinfectant-level">
      <div class="title int-level">
        <h3>Intermediate Level</h3>
      </div>
      <table>
        <tr class="header">
          <td>Dilution</td>
          <td>Contact Time</td>
        </tr>
        <tr>
          <td>1/10<br/>(5000 ppm)</td>
          <td>1 min</td>
        </tr>
        <tr>
          <td>1/50<br/>(1000 ppm)</td>
          <td>10 min</td>
        </tr>
        <tr>
          <td>1/100<br/>(500 ppm)</td>
          <td>20 min</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card disinfectant-level">
      <div class="title low-level">
        <h3>Low Level</h3>
      </div>
      <table>
        <tr class="header">
          <td>Dilution</td>
          <td>Contact Time</td>
        </tr>
        <tr>
          <td>1/100<br/>(500 ppm)</td>
          <td>1 min</td>
        </tr>
        <tr>
          <td>1/500<br/>(100 ppm)</td>
          <td>10 min</td>
        </tr>
      </table>
    </div>
  </div>
</div>


