<h1>Tattoo Parlours</h1>
<table>
	<tr>
		<td>High</td>
		<td>Intermediate</td>
		<td>Low</td>
	</tr>	
	<tr>
		<td>
			<ul>
				<li>Needles after attachment (ie soldering) to needle bar</li>
				<li>Reusable ink caps used between clients</li>
				<li>Tattoo grips, tubes and tips</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Clip cord</li>
				<li>Contact screws</li>
				<li>Tattoo machine and controls</li>
				<li>Tube clamp</li>
				<li>Rigid containers used to hold dirty equipment until reprocessing</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Bottles covered with single use sheaths</li>
				<li>Scissors used to cut sterile bandages</li>
				<li>Service trays with single use, disposable covers</li>
			</ul>
		</td>
	</tr>
</table>