<h1>Tattoo Parlours</h1>
<table>
	<tr>
		<td>High</td>
		<td>Intermediate</td>
		<td>Low</td>
	</tr>	
	<tr>
		<td>
			<ul>
				<li>Needles after attachment (ie soldering) to needle bar</li>
				<li>Reusable ink caps used between clients</li>
				<li>Tattoo grips, tubes and tips</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Clip cord</li>
				<li>Contact screws</li>
				<li>Tattoo machine and controls</li>
				<li>Tube clamp</li>
				<li>Rigid containers used to hold dirty equipment until reprocessing</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Bottles covered with single use sheaths</li>
				<li>Scissors used to cut sterile bandages</li>
				<li>Service trays with single use, disposable covers</li>
			</ul>
		</td>
	</tr>
</table>

<h3>Single Use Disposable Items</h3>
<p class="sterile">Items that are RED must be sterile prior to use (packaged sterile or sterilized on-site)</p>
<ul>
	<li class="sterile">Bandages to cover tattoos</li>
	<li>Cups and liquids used for rinsing between colours</li>
	<li>Disposable ink caps (must undergo disinfection with 70-90% alcohol for 10 min before use)</li>
	<li>Disposable plastic clip cord</li>
	<li>Elastic bands used on equipment or instruments</li>
	<li>Lubricant applicators, needles (sterilized at personal service setting)</li>
	<li>Personal protective equipment (gloves, masks, gowns, eye protection)</li>
	<li>Plastic sheaths (used to cover the tattoo machine, cords, power supply and bottles)</li>
	<li class="sterile">Purchased pre-packaged sterile needles</li>
	<li>razors, rinsing cups (holds, the water used for rinsing between ink colours)</li>
	<li>Single use needle bars</li>
	<li class="sterile">Single use needle cartridges</li>
	<li>Stencils</li>
	<li>Swabs used to apply skin antiseptic</li>
	<li>Top hat grommet</li>
	<li class="sterile">Water if mixed with tattoo inks</li>
	<li>Wipes or tissues used during procedure and dental bibs
</ul>