<h1>Body Piercing</h1>
<table>
	<tr>
		<td>High</td>
		<td>Intermediate</td>
		<td>Low</td>
	</tr>	
	<tr>
		<td>
			<ul>
				<li>All forceps and clamps</li>
				<li>All jewellery used for initial piercing and jewellery purchased in bulk</li>
				<li>All needles purchased in bulk</li>
				<li>All tapers</li>
				<li>Open-ended receiving tubes</li>
				<li>Ring opening and closing pliers</li>
				<li>Scrub brushes</li>

			</ul>
		</td>
		<td>
			<ul>
				<li>Needle pushers</li>
				<li>Scissors used to cut cannulas (insertion tubes)</li>
				<li>All calipers</li>
				<li>Jewellery (when replacing piercing jewellery on completely healed piercings)</li>
				<li>Rigid containers used to hold dirty equipment until reprocessing </li>

			</ul>
		</td>
		<td>
			<ul>
				<li>Service trays with single use, disposable covers </li>
				<li>Tables, beds, chairs</li>
			</ul>
		</td>
	</tr>
</table>

<h3>Single Use Disposable Items</h3>
<p class="sterile">Items that are RED must be sterile prior to use (packaged sterile or sterilized on-site)</p>
<ul>
    <li class="sterile">Biopsy tools</li>
	<li>Closed-ended receiving tools</li>
	<li>disposable clamps and forceps</li>
	<li class="sterile">dermal punch</li>
	<li class="sterile">Jewellery (stud earing, hoop, ball or screw)</li>
	<li>Marking pen or toothpick</li>
	<li class="sterile">needles</li>
	<li>ointment applicators</li>
	<li>personal protective equipment (gloves, masks, gowns, eye protection)</li>
	<li>receiving cork, rinsing cups (mouth rinse antiseptics for tongue piercings)</li>
	<li>scalpel blades for body modification, such as scarification, implants</li>
	<li class="sterile">surface dermals</li>
	<li class="sterile">silicone implants</li>
	<li>swab used to apply skin antiseptic</li>
</ul>