
/**
	green: #2F4050
	yellow: #f7c331;

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500');

html {
	height: 100%;
}

body {	
  	padding-top: 50px;
  	font-family: "Arial", sans-serif;
  	background-repeat: none;
  	background: #F0F0F1;  
	color: #111;
 /* 	background: #67B26F;  
	background: -webkit-linear-gradient(to top, #4ca2cd, #67B26F);
	background: linear-gradient(to top, #4ca2cd, #67B26F);
	background-attachment: fixed;*/
}

hr {
	border: 1px solid #111;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 1px 1px 0 rgba(55,55,55,0.3) ;
}

hr, button {
	box-shadow: 1px 1px 0 rgba(55,55,55,0.3);
}

p {
	font-size: 1.2em;
	line-height: 2em;
	font-weight: thin;
}

input.search {
	width: auto;
	padding: 8px 16px;
	margin-top: 12px;
	margin-bottom: 18px;
	font-size: 1.5em;
	border-radius: 6px;
	border: 1px solid #aaa;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
}

div.definition-search-type {
	
}

.content {
	background: #fff;	
	min-height: 700px;
	opacity: 0.88;	
	border: 1px solid #ccc;
}

p.indent, span.indent {
	margin-left: 16px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

nav.navbar {
	background: #2F4050;	
	border: 0;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
}

ul.nav {
	font-family: 'Open Sans', Arial, sans-serif;
	display: inline-block;
	background: #2F4050; 
}

a.navbar-brand {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: thin;
	color: #C3CFE5 !important;
}

.navbar-inverse .navbar-nav > .active {
	background: #2F4050 !important;
}

.navbar-inverse .navbar-nav a:hover {
	color: #f7c331 !important;	
	background: #2F4050;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #f7882f !important;	
	background: #2F4050 !important;
}

.navbar-inverse .navbar-nav a {
	color: #C3CFE5 !important;
	font-weight: bold;
	padding: 15px;
	padding-bottom: 12px;
}

ul.nav > li {
	vertical-align: middle;
}

a.card-link {
	color: #111;
}

.card {
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 24px 12px;
	margin: 12px 0;
	min-height: 300px;
	text-align: center;
	width: 100%;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
}

.card > .title {
	display: table;
	width: 100%;
	min-height: 75px;
}

.card > .title > h3 {
	display: table-cell;
	vertical-align: middle;
	margin-top: 0;
	line-height: 32px;
}

.card p {
	margin-top: 16px;
	line-height: 1.5em;
}

.card.disinfectant-level .title {
	border-radius: 6px;
	border: 1px solid #444;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.47);
}

.card.disinfectant-level .title.high-level {
	background: #f00;
	color: #000;
}

.card.disinfectant-level .title.int-level {
	background: #ff0;
	color: #111;
}

.card.disinfectant-level .title.low-level {
	background: #0f0;
	color: #111;
}

.card.disinfectant-level table {
	width: 100%;
	margin-top: 32px;
	background: #fff;
	color: #000;
	opacity: 1;
	font-size: 1.2em;
	border-spacing: 0;
	border-collapse: seperate;
}

.card.disinfectant-level table tr td {
	border: 1px solid #777;
	padding: 7px;
}


.card.disinfectant-level table tr.header td {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: thin;
	padding: 12px 6px;
	font-size: 1.3em;
	background: #4ca2cd;
	border: 1px solid #4ca2cd;
}

td span.note {
	font-size: 0.8em;
	font-style: italic;
}

.panel-container {
	overflow: hidden;
}

.panel.disinfectant-level {
	float: left;
	display: inline-block;
	font-size: 1.3em;
	width: 220px;
}

.panel.disinfectant-capabilities .panel-heading {
	font-size: 1.3em;
}

.panel.disinfectant-capabilities {
	float: left;
	display: inline-block;
	width: 280px;
}

.panel.disinfectant-capabilities ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 6px;
	font-size: 1.2em;
}

.text-red {
	color: #E01010;
} 

.text-green {
	color: #2c5;
}

.table-header {
	font-size: 1.3em;
}

.legend {
	margin: 15px;
	float: right;
}

.legend-cell, .legend-label {
	vertical-align: middle;
	display: inline-block;
}

.legend-cell {
	margin-left: 8px;
	width: 2em;
	height: 2em;
	border: 1px solid black;
}

.legend-label {
	margin-left: 30px;
}

div.disinfectant-summary {
	margin-top: 32px;
	font-size: 1.3em;
}

input[type=checkbox] {
	-ms-transform: scale(2); 
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	margin: 10px;
}

.checkbox-text {
	font-size: 1.2em;
	padding-left: 5px;
}

.question-pane {
	text-align: center;
}

.question-pane ul {
	text-align: left;
	font-size: 1.3em;
}

.question-pane h2 {
	margin-top: 0;
	display: inline-block;
}

.question-list {
	display: inline-block;
}

form {
	text-align: left;
	display: inline-block;
}

select {
	padding: 6px;
	font-size: 1.2em;
	border-radius: 6px;
	min-width: 100px;
}

/* Definitions */
div.definition {

}

div.definition .term {
	font-style: italic;
	margin-right: 20px;
}

div.definition .description {
	
}

div.definition .definition-content .term {

}

div.definition-list {
	opacity: 0.88;
	position: fixed;
	overflow-y: auto;
	position: fixed;
	width: 215px;
	top: 63px;
	bottom: 12px;
}

div.definition-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.definition-list ul li {
	padding: 12px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFFFFF, #f6f6f6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFFFFF, #f6f6f6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.definition-list ul li:first-child {
	border-top: 1px solid #ddd;
}

div.definition-content {
	padding: 12px;
	margin-left: 231px;
}

ul.links {
	margin-top: 20px;
	font-size: 1.5em;
}

/**
	Bootstrap 3 navbar collapse
	https://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less
*/
@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		position: relative !important;
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		position: relative !important;
		float: left !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none !important;
		display: block !important;
		text-align: left !important;
	}
  	.navbar-nav>li>a {
      	padding-top: 10px !important;
      	padding-bottom: 10px;
  	}
  	.navbar-inverse .navbar-nav a:hover {
		border-bottom: 0;
		border-left: 3px solid #f7882f;
		color: #f7c331 !important;	
		background: #2F4050;
	}

	.navbar-inverse .navbar-nav > .active > a {
		border-bottom: 0;
		border-left: 3px solid #f7882f;
		color: #f7882f !important;	
		background: #2F4050 !important;
	}
	.collapse.in{
		display:block !important;
	}
}
/*********************************/


/* Full width desktop screen */
@media(min-width: 1200px) {
	nav.navbar {}

	ul.nav {
		text-align: center;
	}

	a.navbar-brand {
		font-size: 1.3em;
	}

	.navbar-inverse .navbar-nav > .active {}

	.navbar-inverse .navbar-nav a:hover {
		border-bottom: 3px solid #f7c331;
	}

	.navbar-inverse .navbar-nav > .active > a {
		border-bottom: 3px solid #f7882f;
	}

	.navbar-inverse .navbar-nav a {
		border-bottom: 3px solid #2F4050;
	}

	ul.nav > li {
		display: inline-block;
	}
}